@import "tailwindcss";

@layer base {
	* {
		box-sizing: border-box;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
	}

	body {
		background-color: rgb(23 23 23); /* neutral-900 */
		color: rgb(245 245 245); /* neutral-100 */
		font-family: 'Inter', system-ui, sans-serif;
		min-height: 100vh;
	}
}

@layer utilities {
	.scrollbar-thin::-webkit-scrollbar {
		width: 4px;
		height: 4px;
	}

	.scrollbar-thin::-webkit-scrollbar-track {
		background-color: rgb(38 38 38); /* neutral-800 */
	}

	.scrollbar-thin::-webkit-scrollbar-thumb {
		background-color: rgb(82 82 82); /* neutral-600 */
		border-radius: 0.25rem;
	}

	.scrollbar-thin::-webkit-scrollbar-thumb:hover {
		background-color: rgb(115 115 115); /* neutral-500 */
	}
}
