# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
ton-kosmos-backend
tmp/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local development files
.env
local.*.yaml
*.db
*.db-journal

# IDE settings
.vscode/
.idea/